<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<!-- HEADER -->
	<nav class="container navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="cabecalho" style="border-radius:5px;margin-top:20px">
		<a class="navbar-brand" href="#">: : Sistema Acadêmico : :</a>
		<button class="navbar-toggler" type="button" data-toglle="collapse"
			data-target="#navbar-app">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-app">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="#">Home</a>
				<a class="nav-item nav-link" href="#">Instituições</a>
			</div>
		</div>
	</nav>

	<!-- FOOTER -->
	<footer class="container" th:fragment="rodape" style="border-top:1px solid #ccc;margin-top:10px">
		<p class="float-right">
			<a href="https://www.treinaweb.com.br/curso/java-avancado-desenvolvendo-aplicacoes-web-com-o-spring-boot" target="_blank">
				Curso de Spring-Boot TreinaWeb</a>
		</p>
		<p>&copy; Sistema Acadêmico | 2020</p>
	</footer>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>