<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Sistema Acadêmico</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<!-- HEADER -->
	<div th:replace="fragmentos/layout :: cabecalho"></div>
	
	<!-- CONTENT -->
	<div class="container" style="min-height:550px;margin-top:20px">
		<h2>Lista de instituições</h2><hr/>
		<div class="row">
			<div class="form-group col-md-5">
				<label for="txt-pesquisa">Buscar instituição</label>
				<input type="text" id="txt-pesquisa" class="form-control" />
			</div>
			<div class="form-group col-md-2">
				<button type="button" class="btn btn-default" id="btn-pesquisar" 
					style="border:solid 1px #ccc;width:150px;margin-top:30px">Pesquisar</button>
			</div>
			<div class="form-group col-md-5">
				<a href="/instituicoes/inserir" class="btn btn-default" 
					style="margin-bottom:20px;border:solid 1px #ccc;width:240px;float:right;margin-top:30px">Adicionar instituição</a>
			</div>
		</div>
		<table class="table table-striped" id="tbl-instituicao">
			<thead>
				<th>Instituição</th>
				<th>Endereço</th>
				<th colspan="2">Ações</th>
			</thead>
			<tbody><!-- 'instituicoes' vem do controller -->
				<tr th:each="instituicao : ${instituicoes}">
					<td th:text="${instituicao.nome}"></td>
					<td th:text="${instituicao.endereco}"></td>
								<!-- @{/controller/action/{campo}(campo=${variavel.campo})} -->
					<td><a th:href="@{/instituicoes/editar/{id}(id=${instituicao.id})}">Editar</a></td>
					<td><a th:href="@{/instituicoes/excluir/{id}(id=${instituicao.id})}">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- FOOTER -->
	<div th:replace="fragmentos/layout :: rodape"></div>
	
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- AJAX para pesquisar instituição por nome -->
	<script type="text/javascript">
		$(document).ready(function() {
			
			// seleciona o botão pesquisar no evento de clique
			$('#btn-pesquisar').click(function() {
				// dispara requisição Ajax
				$.ajax({
					method: 'GET', // falou que 'inputs' possuem valor [.val()] e labels possuem text
					url: '/instituicoes//pesquisar_instituicao/' + $('#txt-pesquisa').val(),
					// chama os callbacks de sucesso ou erro
					success: function(data) {
						// pega a tabela apenas tbody e linhas tr filhas e limpa
						$('#tbl-instituicao tbody > tr').remove();
						$.each(data, function() {
							// pega o tbody e remonta os elementos
							$('#tbl-instituicao tbody').append(
								'<tr>' +
								'	<td>' + this.nome + '</td>' +
								'	<td>' + this.endereco + '</td>' +
								'	<td><a href="/instituicoes/editar/' + this.id + '">Editar</a></td>' +
								'	<td><a href="/instituicoes/excluir/' + this.id + '">Excluir</a></td>' +
								'</tr>'
							);
						});
					},
					error: function() {
						alert('Não foi possível realizar a pesquisa');
					}
				});
			});
		});
	</script>
</body>
</html>